.banner-clas {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    width: 90vw;
    height: max-content;
}

/* ANALITYCS */
.conteiner-class {
    display: flex;
    flex-direction: row;
    height: max-content;
    width: 70vw;
    justify-content: baseline;
    align-items: center;
}

.analitycs {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 40vw;
    align-items: center;
    margin-left: 2vw;

}

/* cards */
.analitycs .legenda p {
    margin-top: -50vh;
    font-family:Stencil Std, fantasy;
    font-size: 5vh;

}

.analitycs p{
    font-family:Stencil Std, fantasy;
    font-size: 2.5vh;
}
.card-z4 {
    background-color: red;
    height: 8vh;
    width: 12vw;
    margin-top: 4vh;
    text-align: center;
    padding: 0.5vh 0.5vw;
    align-items: center;
}

.card-sul {
    background-color: rgb(255, 221, 0);
    height: 8vh;
    width: 12vw;
    margin-top: 4vh;
    text-align: center;
    padding: 0.5vh 0.5vw;
    align-items: center;
}

.card-pre {
    background-color: rgb(9, 255, 0);
    height: 8vh;
    width: 12vw;
    margin-top: 4vh;
    text-align: center;
    padding: 0.5vh 0.5vw;
    align-items: center;
}

.card-g4 {

    background-color: rgb(2, 71, 2);
    height: 8vh;
    width: 12vw;
    margin-top: -40vh;
    text-align: center;
    padding: 0.5vh 0.5vw;
    align-items: center;
}

/* pergunta e resposta */
.amais{
    height: max-content;
    width: 15vw;
}

/* CLASSIFICAÇÃO */

.classificacao {
    padding: 1vh 1vw;
    margin-left: 12vw;
    font-family:Stencil Std, fantasy;
}

.texto-class{
    text-align: center;
    font-size: 7vh;
}
table {
    width: 50vw;
    margin-top: 2vh;
    height: 100vh;
    font-size: 2.5vh;
    border-radius: 1vh;
    padding: 1vh 0.4vw;
}

thead{
    font-size: 3vh;
}
table img {
    height: 4vh;
    margin-top: 0.1vh;
    margin-right: 0.4vw;
    margin-left: -2vw;
    align-items: flex-start;
    text-align: center;
    margin-bottom: -1vh;
}

/* table span {
    margin-bottom: 5vh;
} */

/* ICONES */
.palmeiras {
    /* margin-left: 0; */
}

.atletico-mg {
    margin-right: 1vw;
}

.gambas {
    margin-right: 1vw;
    margin-left: -2.5vw;
}

.coxa {
    margin-right: 1vw;
    margin-left: -4vw;
}

.sp {
    margin-right: 1vw;
    margin-left: -3vw;
}

.atletico-pr {
    margin-right: 1vw;
    margin-left: -2vw;
}

.bota {
    margin-right: 1vw;
    margin-left: -3.5vw;
}

.fla {
    margin-right: 1vw;
    margin-left: -3vw;
}

.santos {
    margin-right: 1vw;
    margin-left: -4.8vw;
}

.america {
    margin-right: 1vw;
    margin-left: -1.8vw;
}

.flu {
    margin-right: 1vw;
    margin-left: -2vw;
}

.inter {
    margin-right: 1vw;
    margin-left: -1.8vw;
}

.avai {
    margin-right: 1vw;
    margin-left: -2vw;
}

.braga {
    margin-right: 1vw;
    margin-left: -2vw;
}

.ceara {
    margin-right: 1vw;
    margin-left: -2vw;
}

.goias {
    margin-right: 1vw;
    margin-left: -2vw;
}

.cuia {
    margin-right: 1vw;
    margin-left: -2vw;
}

.atletico-go {
    margin-right: 1vw;
    margin-left: -2vw;
}

.juve {
    margin-right: 1vw;
    margin-left: -2vw;
}

.fortal {
    margin-right: 1vw;
    margin-left: -2vw;
}



table,
td {
    border: 1px solid;
}

.nada {
    border-bottom: none;
    border-left: none;
    border-top: none;
    border-right: none;

}

.time {
    border-left: none;
}

table tr {
    margin-top: 5vh;
    text-align: center;
}

td {
    padding: 1vh 0.5vw;
    text-align: center;
}


.g4 {
    background-color: rgb(2, 71, 2);
}

.pre {
    background-color: rgb(9, 255, 0);
}

.sula {
    background-color: rgb(255, 221, 0);
}

.z4 {
    background-color: rgb(255, 0, 0);

}