.banner-menu {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);

    height: max-content;

}


/* MURAL */
.mural {
    width: 70vw;
    display: flex;

    flex-direction: column;
    margin-bottom: 4vh;
    align-items: center;
    height: max-content;

}

.avisos {
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.tudo-mural{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    height: 100vh;
    
}

.regras{
    display: flex;
    flex-direction: column;
    text-align:start;
}
.regras p{
    text-align: center;
    font-family: Stencil Std, fantasy;
    font-size: 4vh;
    margin-bottom: 1vh;
}
.regras li{
    margin-top: 0.5vh;
    font-size: 3vh;
}
.container-mural {
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55vh;
    width: 25vw;
    background: rgba(114, 114, 114, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    align-items: center;
    text-align: center;
  
    padding: 0.5vh 0.5vw;
    border: transparent 0.5vh solid;
    border-radius: 5vh;
    margin-top:2vh;
}

.container-mural h1 {
    margin-top: -2vh;
    font-size: 4vh;
    font-family: Stencil Std, fantasy;
}

h1 {
    font-family: Stencil Std, fantasy;
}

.div-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.div-form button {

    margin-top: -5vh;
    text-align: center;
    padding: 0.5vh 0.5vw;
    border: 0.5vh solid transparent;
    border-radius: 1vh;
    cursor: pointer;
    width: 10vw;
}

button span {
    position: relative;
    transition: 0.5s;
    font-weight: 700;
}

button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -5vh;
    transition: 0.5s;
}

button:hover span {
    padding-right: 3vh;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

.div-form input {
    padding: 0.5vh 0.5vw;
    border: 0.5vh solid black;
    border-radius: 1vh;
}

.div-form textarea {
    padding: 0.5vh 0.5vw;
    border: 0.5vh solid black;
    border-radius: 1vh;

}

textarea {
    margin-top: 2vh;
    max-width: max-content;
    max-height: 500px;
    resize: none;
}


/* Resultado */
.area-debate {
    display: flex;
    flex-direction: column;
    width: 28vw;
    border: transparent 0.5vh solid;
    border-radius: 5vh;
  
    background: linear-gradient(145deg, #8e8e8e, #a9a9a9);
    box-shadow:  5px 5px 10px #7e7e7e,
                 -5px -5px 10px #bebebe;
    text-align: center;
    margin-top: 5vh;
    padding: 2vh 1vw;
    height: max-content;
    margin-left: 10vw;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
}

.feed-container {

    /* background-color: #212124; */
    border-radius: 5px;
    margin-bottom: 2vh;
    padding: 1vh 1vw;

}

.div-results {
    width: 100%;
    height: max-content;
    padding: 1vh 1vw;
    margin-top: -5vh;
}