.banner-menu{
    display: flex;
    flex-direction: row;
    background-color: rgb(29, 30, 30);
    width: 90w;
    height: max-content;
    
}


/* MURAL */
.mural{
    width: 70vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 4vh;
    align-items: center;
}

.avisos{
    width: 70vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container-mural{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65vh;
    width: 35vw;
    background-color: brown;
    align-items: center;
    text-align: center;
    margin-top: 2vh;
    padding: 0.5vh 0.5vw;
    border: transparent 0.5vh solid;
    border-radius: 5vh;
}
.container-mural h1{
    margin-top: -5vh;
}
.div-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.div-form button{
    
    margin-top: -5vh;
    text-align: center;
    padding: 0.5vh 0.5vw;
    border: 0.5vh solid transparent;
    border-radius: 1vh;
    cursor: pointer;
    width: 10vw;
}
button span {
    position: relative;
    transition: 0.5s;
    font-weight: 700;
  }
  
  button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -5vh;
    transition: 0.5s;
  }
  
  button:hover span {
    padding-right: 3vh;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  }
.div-form input{
    padding: 0.5vh 0.5vw;
    border: 0.5vh solid black;
    border-radius: 1vh;
}
.div-form textarea{
    padding: 0.5vh 0.5vw;
    border: 0.5vh solid black;
    border-radius: 1vh;

}

/* Resultado */
.area-debate{
    display: flex;
    flex-direction: column;
    width: 35vw;
    border: transparent 0.5vh solid;
    border-radius: 5vh;
    background-color: blueviolet;
    text-align: center;
    margin-top: 2vh;
    padding: 0.5vh 0.5vw;
}

.feed-container{
    
    /* background-color: #212124; */
    border-radius: 5px;
    margin-bottom: 80px;
    
}
.div-results{
    width: 100%;
}