/* HEADER */
body{
    background-color: white;
    margin: 0;
    font-size: Andale Mono, monospace;
    
}
.header {
    background-color: rgb(0, 0, 0);
    height: 15vh;
    display: flex;
    justify-content: center;
    font-family: Stencil Std, fantasy;
}

.header h1{
font-size: 5vh;
color: white;
/* font-size: Andale Mono, monospace; */
}

ul img {
height: 5vh;
margin-bottom: -1vh;
margin-right: 0.6vh;
}

.btn-logout{
    margin-top: 15vh;
    font-size: 4vh;
    cursor: pointer;
}


.menu{
    display: flex;
    flex-direction: column;
    width: 16vw;
    height: auto;
    background: #242424; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #242424, #086c08); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #242424, #086c08); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    align-items: center;
    padding: 1vh 0.5vw;
    border: 0.3vh white solid;
    border-left: none;
    border-top: none;
    border-bottom: none;
    color: rgb(205, 202, 202);
    font-family: Stencil Std, fantasy;
    /* font-size: Andale Mono, monospace; */
}

.hello{
    font-size: 3vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

a:hover {
    opacity: .100;
}


.menu li{
list-style: none;

}
.menu ul{
    font-size: 3.5vh;
}
li a{
    text-decoration: none;
    color: rgb(205, 202, 202);
}
.menu-itens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1vh;
    margin-left: -5vh;
    
}
.menu-itens li{
    margin-top: 5vh;
}


.agora{
    font-weight: 600;
}