/* cabeçalho de baixo */
.header2{
    color: black;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.conteiner-header2 {
    display: flex;
    
}
.header2 h1{
    margin-left: 3vh;
    font-size: 5vh;
}

.conteiner-header2 .header-listas2{
    display: flex;
    /* justify-content: space-around; */
    flex-direction: row;
    list-style: none;
    width: 70vw;
    font-size: 4vh;
     
}

.header2 img{
    height: 12vh;
    margin-left: 5vh;
}

.agora {
    font-weight: 800;
}

ul a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

li {
    position: relative;
    margin: 0 20px;
    display: inline-block;
    transition:  0.5s;
}


li::after{
    position: absolute;
    content: '';
    width: 0%;
    height: 3px;
    background-color:rgb(11, 108, 74);
    bottom: -10px;
    margin-left: 0;
}

li:hover::after{
    width: 100%;
}
li:hover {
    /* opacity: .100; */
    cursor: pointer;
}