body {
    color: white;
    margin: 0;
    font-family: 'Candara';
}

/* BANNER */
.banner-form{
    display: flex;
    flex-direction: column;
    background-image: url("assets/fundo-form.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    height: 150vh;

}