body {
    color: white;
    margin: 0;
    font-family: 'Candara';
}

/* BANNER */
.banner-sobre {
    display: flex;
    flex-direction: column;
    background-image: url("assets/fundo-sobreMim.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;

}

.conteiner-sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.conteiner-sobre h1 {
    color: black;
}

.conteiner-sobre img {
    height: 31vh;
    width: 20vw;
    border: 0.4vh solid black;
    border-radius: 3vh;
    transition: all 0.8s;
}

.conteiner-sobre img:hover {
    transform: scale(1.1);
    box-shadow: 1vh 1vh 1vh 1vh rgba(0, 0, 0, 0.35);

}

.fotos-crianca {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
    margin-top: 5vh;
}

.texto {
    font-size: 5vh;
    margin-top: 5vh;
    color: black;
}

.fotos-medio {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90vw;
}

.fotos-final {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
}