/* cabeçalho de baixo */
.header2{
    color: black;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
}
.conteiner-header2 {
    display: flex;
    
}
.header2 h1{
    margin-left: 3vh;
    font-size: 5vh;
    font-family: Stencil Std, fantasy;
}

.conteiner-header2 .header-listas2{
    display: flex;
    /* justify-content: space-around; */
    flex-direction: row;
    list-style: none;
    width: 70vw;
    font-size: 4vh;
    
}

.header2 img{
    height: 12vh;
    margin-left: 5vh;
}

.agora {
    font-weight: 800;
}

ul a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

li {
    position: relative;
    margin: 0 20px;
    display: inline-block;
    transition:  0.5s;
}


.a:hover::after{
    width: 100%;
}
.a:hover {
    /* opacity: .100; */
    cursor: pointer;
    border-bottom: 2px solid rgb(11,108,74);
}