body {
    color: white;
    margin: 0;
    font-family: 'Candara';
}

a:hover {
    opacity: .100;
}

.banner-cadastro {
    background-image: url("assets/fundo-jogador.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: OCR A Std, monospace;
}

.conteiner-cadastro {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

.lado-cadastro {
    height: 50vh;
    width: 23vw;
    background-color: rgb(115, 111, 111);
    align-items: center;
    text-align: center;
    font-size: 3.5vh;
    margin-top: 15vh;
    margin-right: 5vw;
    border: 0.5vh solid black;
    border-radius: 5vh;
    border-bottom-left-radius: 30vh;
}

.lado-cadastro p {
    margin-top: 5vh;
    font-size: 5vh;
}
.lado-cadastro a{
    color: white;

}
.lado-cadastro img {
    height: 5vh;
    text-align: center;
    margin-left: 1vw;
    margin-top: 2vh;
}

.card-cadastro h1 {
    margin-bottom: 1vh;
}

.card-cadastro {
    color: black;
    height: 90vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    background: rgba(88, 88, 88, 0.151);
    align-items: center;
    backdrop-filter: blur(8.5vh);
    -webkit-backdrop-filter: blur(8.5vh);
    transition: all 0.8s;

}

.card-cadastro span {
    margin-top: 2vh;
}

input{
    
    padding: 0.5vh 0.5vw;
    border: solid 0.2vh black;
   
    margin-top: 1vh;
    
  }
  ::placeholder{
    color: black;
  }
  
  button{
    cursor: pointer ;
    margin-top: 0.5vh;
    padding: 0.5vh 0.5vw;
    width: 13vw;
    height: 5.7vh;
    font-size: 2.5vh;
    font-weight: 600;
    border: 0.3vh black solid;
    border-radius: 3vh;
  }
  button span {
    position: relative;
    transition: 0.5s;
  }
  
  button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -5vh;
    transition: 0.5s;
  }
  
  button:hover span {
    padding-right: 3vh;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  }

.card-cadastro a {
    /* text-decoration: none; */
    color: black;
}

.aviso {
    color: white;
    font-size: 30px;
    height: 20px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.alerta_erro {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-left: 20px;
}

.card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    /* position: fixed; */
    border-radius: 4px;
    border: #e6005a 3px solid;
    padding: 10px;
    margin-right: 10%;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
}

.loading-div {
    width: 50px;
    margin: auto;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}