/* cabeçalho de baixo */
.header2{
    color: black;
    height: 15vh;
    font-size: 3vh;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.conteiner-header2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.conteiner-header2 h1{
    margin-left: 3vh;
}

.conteiner-header2 .header-listas2{
    display: flex;
    /* justify-content: space-around; */
    flex-direction: row;
    list-style: none;
    width: 70vw;
    font-size: 4vh;
     
}

.header2 .conteiner-header2 img{
    height: 12vh;
    margin-left: 5vh;
}

.agora {
    font-weight: 800;
}

ul a {
    text-decoration: none;
    color: black
}

li {
    position: relative;
    margin: auto;
}

li:hover {
    /* opacity: .100; */
    cursor: pointer;
}
li::after{
    position: absolute;
    content: "";
    width: 0%;
    height: 1vh;
    background-color:rgb(11, 108, 74);
    /* left: 50vw; */
    bottom: -2vh;
    transition: all 0.5s;

}

li:hover::after{
    cursor: pointer;
    width: 100%;
    left: 0vw;
}
