body {
  color: white;
  margin: 0;
  font-family: 'Candara';
}

/* FUNDO */
.banner {
  display: flex;
  flex-direction: column;
  background-image: url("assets/fundo-login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.conteiner-login {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: 5vh;
  font-family: Stencil Std, fantasy;
}

.pega-tudo {
  display: flex;
  justify-content: space-evenly;
  /* height: 100vh; */
  width: 100vw;
  margin-top: 0;
}

.card-login {
  height: 45vh;
  width: 50vh;
  background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 1px );
-webkit-backdrop-filter: blur( 1px );
border: 2vh double black;
border-radius: 5vh;
  text-align: center;
  align-items: center;
  padding: 1vh 1vw;

}

.card-login p {
  font-size: 3vh;
}

input {
  margin-top: -20vh;
  padding: 0.5vh 0.5vw;
  border: solid 0.2vh black;
  background-color: white;
  color: black;
  border-radius: 1vh;
}

::placeholder {
  color: black;
}

button {
  cursor: pointer;
  margin-top: 3vh;
  padding: 0.5vh 0.5vw;
  width: 8vw;
  height: 5.7vh;
  font-size: 2.5vh;
  font-weight: 600;
  border: 0.3vh black solid;
  border-radius: 3vh;
}

button span {
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -5vh;
  transition: 0.5s;
}

button:hover span {
  padding-right: 3vh;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

.card-login-lado {
  height: 40vh;
  width: 20vw;
  padding: 1vh 1vw;
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
  border-radius: 3vh;
  border: 2vh double rgba(0, 0, 0);
  text-align: center;
  color: rgb(0, 0, 0);
}

.card-login-lado:hover{
  transition: 3s;
  transform:scale(1.1);
}

.card-login-lado h2 {
  font-family: Stencil Std, fantasy;
}

.card-login-lado a {
  color: white;
}

.card-login-lado p {
  font-size: 2.8vh;
}

.card-login-lado:hover {}

/* ERRO */
.alerta_erro {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-left: 20px;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  /* position: fixed; */
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}