/* CABEÇALHO */
.header {
    /* background: rgb(61, 55, 55);
    background: linear-gradient(90deg, rgba(61, 55, 55, 1) 0%, rgba(93, 93, 93, 1) 100%); */
    color: white;
    border: 0.5vh solid black;
    height: 15vh;
    font-size: 3vh;
    background-color: rgb(39, 36, 36)
}

.header-listas {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}
.header-listas img{
    height: 10vh;
}
.agora {
    font-weight: 800;
}

.header ul {
    list-style: none;
}

ul a {
    text-decoration: none;
    color: white;
}

li a:hover {
    opacity: .100;
}
.header-listas li{
    margin-bottom: 5v;
}