body {
    color: white;
    margin: 0;
    font-family: 'Candara';
}

.conteiner-login{
    display: flex;
   justify-content: center;
   align-items: center;

   color: black;
}
.pega-tudo{
    padding: 5vh 5vw;
    display: flex;
    justify-content:center;
    height: 50vh;
    width: 50vh;
}
.card-login{
    height: 50vh;
    width: 50vh;
    background-color: green;
}
.imagem-login{
    background-color: aqua;
    height: 50vh;
    width: 50vw;
}
.imagem-login img{
    height: 10vh;
}